body {
    display: flex;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #40ac12ec;

    margin:0;
    letter-spacing: 1;

}
.header {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
    color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin-bottom: 20px; 
}

h1 {
    text-align:center;
}
input, select, textarea {
    padding:10px;
    border:1px solid;
    border-radius:5px;
    margin-bottom: 10px; 
    box-sizing: border-box; 
    margin-left:55px;

}
input[type="submit"] {
    background-color:white;
    padding:10px;
    border:1px solid;
    border-radius:5px;
    margin-bottom: 10px; 
    box-sizing: border-box; 
    justify-content: center;
    align-items: center;
    margin-left:95px;
}


.background {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 5px; 
    background-color: #f2f2f2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 20);
    overflow-x: hidden; 
    margin: 0 auto; 
    margin: 0 auto; 
    width:40%;    
    margin-top:140px;
    height: 500px;
    border-radius: 60px;

    
}
input, select, textarea {
    padding:10px;
    border-radius:15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);

}